<html>
<head>
<title>Anime Page</title>
</head>
<body style="display:flex; width:100%; height:100%; align-items:center;">
    <h1 class="animeName" style="width:fit-content; margin:auto;">{{ name }}</h1> 
</body>
</html>
